@keyframes meteorMove {
    from {
      transform: translate(-50%, -50%) translateX(-500px) translateY(-500px);
    }
    to {
      transform: translate(-50%, -50%) translateX(500px) translateY(500px);
    }
  }


  .tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}


.ProseMirror:focus {
    outline: none;
}
  
