

.th,
.td {
  min-width: 250px;
  max-width: 500px !important;
}

.td {
  vertical-align: top; /* Place text at the top of the box */
  white-space: pre-wrap;
}

.table {
  table-layout: fixed;
  width: auto;
}
